[submodule "9828287wmkjrtcjvqvb"]
	path = 9828287wmkjrtcjvqvb
	url = https://git.overleaf.com/9828287wmkjrtcjvqvb
[submodule "report"]
	path = report
	url = https://git.overleaf.com/9828287wmkjrtcjvqvb
